{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
<title>MovieMon: Moviedex</title>
{%endblock%}

{% block content %}

  <p>Moviedex</p>
  <div class="moviedex-list">
      {% for x in movies2 %}
        <img  class="opac cover-list" height="180"
        {% if selected == x.0 %}
              style="opacity:1;"
        {% endif %}
              src={{ x.1 }}; />
        {% endfor %}
  </div>

  <br/>
  {% if empty %}
    <div style="position:absolute;">Your moviedex is empty ! </div>
  {% endif %}
  <br/>

  <div class="button-description">
    <div>A - More information</div>
    <div>select - Back</div>
  </div>



{% endblock %}
